{% extends "layout.html"  %}
{% block body%}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for i in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{i}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
{% endwith %}
<form action="/Agregar_datos" method="POST">
    <input type="date" name="Fecha" placeholder="Fecha">
    <input type="text" name="Trabajo" placeholder="Trabajo">
    <input type="text" name="Debe" placeholder="DEBE">
    <input type="text" name="Haber" placeholder="HABER">
    <input type="text" name="Saldo" placeholder="SALDO">
    <input type="hidden" name="Dni" value={{paciente.0}}>
    <input type="hidden" name="Nombre" value={{paciente.1}}>
    <button type="submit">Enviar</button>
</form>

<table>
    <thead>
        <tr>
            <td>FECHA</td>
            <td>TRABAJO</td>
            <td>DEBE</td>
            <td>HABER</td>
            <td>SALDO</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        {% for dato in datos %}
        <tr>
            <td>{{dato.1}}</td>
            <td>{{dato.2}}</td>
            <td>{{dato.3}}</td>
            <td>{{dato.4}}</td>
            <td>{{dato.5}}</td>
            <td>
                <a href="/edit/{{datos.6}}">editar</a>
                <a href="/delete/{{datos.6}}">eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}