{% extends "layout.html"  %}
{% block body%}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for i in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{i}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
{% endwith %}


<form action="/Agregar_paciente" method="POST">
    <input type="text" name="Dni" placeholder="Dni">
    <input type="text" name="Nombre" placeholder="Nombre">
    <input type="text" name="Telefono" placeholder="Telefono">
    <input type="date" name="Proximo_turno" placeholder="Turno Proximo">
    <input type="text" name="Observaciones" placeholder="Observaciones">
    <button type="submit">Enviar</button>
</form>

<ul>
    <li><p>Busqueda por Dni</p>
        <ul>
            <form action="/Busqueda_Dni" method="POST">
                <input type="text" name="Dni" placeholder="Dni">
                <button type="submit">Buscar por Dni</button>
            </form>
        </ul>
    </li>
    <li><p>Busqueda por Nombre</p>
        <ul>
            <form action="/Busqueda_Nombre" method="POST">
                <input type="text" name="Nombre" placeholder="Nombre">
                <button type="submit">Buscar por Nombre</button>
            </form>
        </ul>
    </li>
</ul>

<table>
    <thead>
        <tr>
            <td>DNI</td>
            <td>Nombre</td>
            <td>Numero de telefono</td>
            <td>Proximo Turno</td>
            <td>Observaciones</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        {% for paciente in pacientes %}
        <tr>
            <td>{{paciente.0}}</td>
            <td>{{paciente.1}}</td>
            <td>{{paciente.2}}</td>
            <td>{{paciente.3}}</td>
            <td>{{paciente.4}}</td>
            <td>
                <a href="/edit/{{paciente.0}}">editar</a>
                <a href="/delete/{{paciente.0}}">eliminar</a>
                <a href="/Ver/{{paciente.0}}">Crear tabala del Paciente</a>
                <a href="/Ver_tabla/{{paciente.0}}">Ver tabla del paciente</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
